.Companies {
  justify-content: space-around;
  gap: 16px;
  img {
    width: 144px;
  }
}
@media (max-width: 768px) {
  .Companies {
    flex-direction: column;
    gap: 12px;
    img {
      width: 135px;
    }
  }
}
