.Contact {
  .contactContent {
    gap: 200px;
    .left-c {
      flex: 1;
      gap: 16px;
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      .row {
        .mode {
          width: 250px;
          padding: 16px;
          border: 1px solid rgba(128, 128, 128, 0.142);
          border-radius: 5px;
          gap: 16px;
          transition: all 300ms ease-in;
          div:nth-child(1) {
            display: flex;
          }

          .icon {
            margin-right: 50px;
          }

          .detail span:nth-child(1) {
            font-size: 18px;
            font-weight: 600;
          }
          .button {
            width: 100%;
            background: #eeeeff;
            color: #4066ff;
            font-size: 13px;
            font-weight: 600;
            &:hover {
              background: #2949c6;
              color: white;
            }
          }
          &:hover {
            scale: 1.1;
            box-shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
          }
        }
      }
    }
    .right-c {
      flex: 1;

      img {
        border: 5px solid rgba(136, 160, 255, 0.25);
        border-radius: 210px 210px 0 0;
        width: 460px;
        height: 550px;
      }
    }
  }

  
}
