.Footer {
  margin-bottom: 40px;
  .footer-content {
    display: flex;
    justify-content: space-between;
    .left-f {
      img {
        margin-bottom: 20px;
      }
    }
    .right-f {
      .info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Footer {
    .footer-content {
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
      .left-f {
        align-items: center;
        margin-bottom: 30px;
      }
      .right-f {
        align-items: center;
      }
    }
  }
}
