.GetStarted {
  .get-started {
    background: #4066ff;
    border-radius: 9px;

    .heading {
      font-size: 40px;
      color: white;
    }
    .subscription {
      text-align: center;
    }
    .button {
      color: white;
      font-size: 20px;
      background: rgba(136, 160, 255, 0.048);
      border: 1px solid white;
    }
  }
}

@media (max-width: 800px) {
  .GetStarted {
    margin: 0 20px;
    .get-started {
      justify-content: center;

      .heading {
        font-size: 30px;
        text-align: center;
      }

      .button {
        color: white;
        font-size: 10px;
      }
    }
  }
}
