.Hero {
  color: white;
  background: rgba(0, 0, 0, 0.678);
  .hero-content {
    display: flex;
    justify-content: space-evenly;
    gap: 90px;
    .hero-left-content {
      display: flex;
      flex-direction: column;
      gap: 45px;
      .title {
        font-size: 50px;
        font-weight: bold;
        line-height: 1.3;
        z-index: 2;
      }
    }
    .hero-right-content {
      img {
        border-radius: 50px 0;
        border: 5px solid white;
      }
    }
    .hero-search {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background: white;
      border-radius: 5px;
      .fa-solid {
        color: grey;
        font-size: 25px;
        padding-top: 10px;
        padding-left: 10px;
      }

      input {
        outline: none;
        border: none;
      }
    }
    .hero-numbers {
      gap: 35px;
      .number {
        font-size: 35px;
        .plus-sign {
          color: #637fee;
        }
      }
    }
  }
}
